<div class="section-title">
    <h1>Team</h1>
</div>

<div class="section-container">

    <div class="above-items-container">
        <a (click)="goBack()" class="back-button"><mat-icon>arrow_back</mat-icon><span>Back to teams list</span></a>
        <div class="title-area-buttons">
            <button mat-raised-button (click)="turnOnEditMode()" [hidden]="isNew">
                <mat-icon>edit</mat-icon>Edit
            </button>
            <button mat-raised-button (click)="deleteTeam()" [hidden]="isNew">
                <mat-icon>delete</mat-icon>Delete
            </button>
        </div>
    </div>

    <div class="items-container one-column">
        <div class="item">
            <div class="item-title-area">
                @if (isNew) {
                <h3>Add new team</h3>
                } @else {
                <h3>Details</h3>
                }
            </div>
            <div [hidden]="isEditing" class="item-content">
                <p>{{ team?.city }}</p>
            </div>
            <div [hidden]="!isEditing" class="item-content">
                <app-add-edit-team-form [isNew]="isNew" [maxPlayers]="maxPlayers" [availblePlayers]="availblePlayers"
                    (createTeam)="createEditTeam($event)"></app-add-edit-team-form>
            </div>
        </div>
    </div>

    <div class="items-container two-columns" *ngIf="!isEditing">
        <div class="item">
            <div class="item-title-area">
                <h3>Stats</h3>
            </div>
        </div>
        <app-tournaments-teams-players-list [tournamentId]="tournamentId"
            [teamId]="teamId"></app-tournaments-teams-players-list>
    </div>

</div>