<div class="section-title">
    <h1>Teams</h1>
</div>

<div class="section-container">
    <div class="above-items-container">
        <h2>All teams</h2>
        <a mat-raised-button [routerLink]="['../team']"><mat-icon>add</mat-icon>Add team</a>
    </div>
    <div class="team-count">
        <div class="counter">
            <span class="count-number">{{ teamsInTournament.length }}</span>
            <span>registered teams</span>
        </div>
        <div class="counter">
            <span class="count-number">16</span>
            <span>max teams</span>
        </div>
    </div>
    <div class="item">
        <div class="item-content">
            @for (team of teamsInTournament; track $index) {
            <div class="team-item">
                <a [routerLink]="['../team', team.id]">{{ team.name }}</a>
            </div>
            }
        </div>
    </div>
</div>