<div class="main-navbar">
    <div class="toggle-icon">
        <a><mat-icon fontIcon="menu"></mat-icon></a>
    </div>
    <div class="logo">
        <img src="/assets/owl-logo-01.png" width="150px" height="127.5px" />
    </div>
    @if (selectedTournamentId) {
    <div class="selected-tournament-title">
        <p class="tournamentName">{{ tournament?.name }}</p>
        <a [routerLink]="'tournaments'" class="backToTournaments">Back to tournaments</a>
    </div>
    }
    <div class="menu">

        @if(selectedTournamentId) {
        @for (item of tournamentNavItems; track $index) {
        <a [routerLink]="item.route" (click)="item.subItems && toggleNested()" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }" class="menu-item">
            <mat-icon aria-hidden="false" [fontIcon]="item.icon"></mat-icon>
            {{item.label}}
            @if(item.subItems) {
            @if(isNestedMenuOpen()) {
            <mat-icon>expand_less</mat-icon>
            } @else {
            <mat-icon>expand_more</mat-icon>
            }
            }
        </a>
        @if(item.subItems && isNestedMenuOpen()) {
        @for(subItem of item.subItems; track $index) {
            <a [routerLink]="subItem.route" (click)="toggleNested()" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }" class="menu-item menu-subitem">
            <mat-icon aria-hidden="false" [fontIcon]="subItem.icon"></mat-icon>
            {{subItem.label}}
            @if(subItem.subItems) {
            @if(isNestedMenuOpen()) {
            <mat-icon>expand_less</mat-icon>
            } @else {
            <mat-icon>expand_more</mat-icon>
            }
            }
        </a>
        }
        }
        }
        }

        @if(!selectedTournamentId) {
        @for (item of navItems; track $index) {
        <a [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="menu-item"><mat-icon aria-hidden="false" [fontIcon]="item.icon"></mat-icon>{{item.label}}</a>
        }
        }
    </div>
</div>