<div class="mobile-navbar">
    <div class="toggle-icon">
        @if(!isMobileSidebarOpen) {
            <a><mat-icon fontIcon="menu" (click)="toggleOffCanvasMenu()"></mat-icon></a>
        } @else if (isMobileSidebarOpen) {
            <a><mat-icon fontIcon="close" (click)="toggleOffCanvasMenu()"></mat-icon></a>
        }
    </div>
    <div class="mobile-logo">
        <img src="/assets/040Tournaments-logo-white.png" width="175px" />
    </div>
</div>

<div class="sidebar-container" id="sidebar">
    <div class="logo">
        <img src="/assets/040Tournaments-logo-white.png" width="200px" />
    </div>
    <div class="selected-tournament-title">
        <p class="tournamentName">@if(selectedTournamentId) { {{ tournament?.name }} } @else { Choose tournament }</p>
        @if(selectedTournamentId) { <a [routerLink]="'tournaments'" class="backToTournaments">Back to tournaments</a> }
    </div>
    <div class="menu">
        @if(selectedTournamentId) {
        @for (item of tournamentNavItems; track $index) {
        <a [routerLink]="item.route" (click)="item.subItems && toggleNested()" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }" class="menu-item">
            <mat-icon aria-hidden="false" [fontIcon]="item.icon"></mat-icon>
            {{item.label}}
            @if(item.subItems) {
            @if(isNestedMenuOpen()) {
            <mat-icon>expand_less</mat-icon>
            } @else {
            <mat-icon>expand_more</mat-icon>
            }
            }
        </a>
        @if(item.subItems && isNestedMenuOpen()) {
        @for(subItem of item.subItems; track $index) {
        <a [routerLink]="subItem.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="menu-item menu-subitem">
            <mat-icon aria-hidden="false" [fontIcon]="subItem.icon"></mat-icon>
            {{subItem.label}}
            @if(subItem.subItems) {
            @if(isNestedMenuOpen()) {
            <mat-icon>expand_less</mat-icon>
            } @else {
            <mat-icon>expand_more</mat-icon>
            }
            }
        </a>
        }
        }
        }
        }

        @if(!selectedTournamentId) {
        @for (item of navItems; track $index) {
        <a [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="menu-item"><mat-icon aria-hidden="false" [fontIcon]="item.icon"></mat-icon>{{item.label}}</a>
        }
        }
    </div>
</div>