.listing-filtering {
    padding-bottom: 30px;
    width: 200px;
}

.listing-filtering {
    width: 100%;
}

.listing-filtering form input{
    /* background: cyan; */
}

.listing-filtering form input:focus {
    border-radius: 0px;
}

.listing-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}