<div class="section-title">
    <h1>Tournaments</h1>
</div>

<div class="section-container">
    <div class="title-area">
        <div class="listing-filtering">
            <form>
                <mat-form-field appearance="outline">
                    <mat-label>Search tournament</mat-label>
                    <input matInput type="text" placeholder="Ex. 040basket 1.0" [formControl]="searchTournamentControl"
                        [matAutocomplete]="auto" />
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                        (optionSelected)="filterTournaments($event.option.value)">
                        @for (option of filteredOptions | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
        <a mat-raised-button [routerLink]="['/tournament']"><mat-icon>add</mat-icon>Add tournament</a>
    </div>

    <div class="listing-container">
        <app-tournament *ngFor="let tournament of displayedTournamentList" [tournament]="tournament"></app-tournament>
    </div>
</div>