<form [formGroup]="addEditTeamForm" (ngSubmit)="sendTeamData(addEditTeamForm)">

    <mat-tab-group>
        <mat-tab label="Team details">
            <div class="tab-content">

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" id="team-name" formControlName="name">
                    @if (addEditTeamForm.get('name')?.hasError('required')) {
                    <mat-error>Name is <strong>required</strong></mat-error>
                    }
                    @if (addEditTeamForm.get('name')?.hasError('maxlength')) {
                    <mat-error>Name must have max 50 characters</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput type="text" id="team-city" formControlName="city">
                    @if (addEditTeamForm.get('city')?.hasError('required')) {
                    <mat-error>City is <strong>required</strong></mat-error>
                    }
                    @if (addEditTeamForm.get('city')?.hasError('maxlength')) {
                    <mat-error>Name must have max 50 characters</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Main contant email</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <div class="input-file">
                    <label for="">Logo</label>
                    <input type="file">
                </div>
            </div>
        </mat-tab>

        <mat-tab *ngFor="let player of [].constructor(maxPlayers); let i = index"
            [label]="'Player ' + (i + 1) + (i === 0 ? ' (captain)' : '')">
            <div class="tab-content">

                <mat-form-field appearance="outline">
                    <mat-label>Availble players</mat-label>
                    <mat-select [formControlName]="'player' + i">
                        @for (player of availblePlayers; track $index) {
                        <mat-option [value]="player">{{player.name}} {{player.surname}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Number</mat-label>
                    <input matInput type="number" id="player-number" [formControlName]="'number' + i">
                </mat-form-field>

            </div>
        </mat-tab>
    </mat-tab-group>

    @if (isNew) {
    <button type="submit" class="submit-button" mat-flat-button>
        <mat-icon>add</mat-icon>Add team
    </button>
    } @else {
    <button type="submit" class="submit-button" mat-flat-button>
        <mat-icon>edit</mat-icon>Edit team
    </button>
    }

</form>