<div class="main-navbar">
    <div class="logo">
        <img src="/assets/owl-logo-01.png" width="150px" height="127.5px" />
    </div>
    <div class="menu">
        <a [routerLink]="['/']"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            Home</a>
        <a [routerLink]="['/tournaments']"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list"></mat-icon>Tournaments</a>
        <a [routerLink]="['/team']"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="group"></mat-icon>Teams</a>
    </div>
</div>