.main-navbar {
    position: sticky;
    top: 0;
    left: 0;
}

.logo {
    width: 100%;
    height: 150px;
    border-bottom: 0.6px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    margin-top: 25px;
}

.menu a {
    padding: 15px 5px;
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 4px;
}

.menu a:hover {
    background-color: #010e06;
}

.menu mat-icon {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .logo {
        border: none;
    }

    .menu {
        display: none;
    }
}