<div class="main-navbar">
    <div class="toggle-icon">
        <a><mat-icon fontIcon="menu"></mat-icon></a>
    </div>
    <div class="logo">
        <img src="/assets/owl-logo-01.png" width="150px" height="127.5px" />
    </div>
    <div class="menu">
        @if(tournamentId) {
        <a>Back to tournament list</a>
        @for (item of activatedTournamentNavItem; track $index) {
        <a [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon
                aria-hidden="false" [fontIcon]="item.icon"></mat-icon>{{item.label}}</a>
        }
        } @else if(!tournamentId) {
        @for (item of navItems; track $index) {
        <a [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon
                aria-hidden="false" [fontIcon]="item.icon"></mat-icon>{{item.label}}</a>
        }
        }
    </div>
</div>