<div class="item">
    <div class="item-title-area">
        <h2>Teams</h2>
        <div class="action-buttons">
            <a mat-button [routerLink]="['team']"><mat-icon>add</mat-icon>Add team</a>
        </div>
    </div>
    <div class="team-count">
        <span class="team-counter">{{ teamsInTournament.length }}</span>
        <span>registered teams</span>
    </div>
    <div class="item-content">
        @for (team of teamsInTournament.slice(0, maxVisibleTeams); track $index) {
        <div class="team-item">
            <a [routerLink]="['team/', team.id]">{{ team.name }}</a>
        </div>
        }

        @if (teamsInTournament.length > maxVisibleTeams) {
        <button (click)="loadMoreTeams()">Show all</button>
        }
    </div>
</div>