<div class="item">
    <div class="item-title-area">
        <h2>Teams</h2>
        <div class="action-buttons">
            <a mat-raised-button [routerLink]="['team']"><mat-icon>add</mat-icon>Add team</a>
        </div>
    </div>
    <div class="team-count">
        <span class="team-counter">{{ teamsInTournament.length }}</span>
        <span>registered teams</span>
    </div>
    <div class="item-content">
        @for (team of teamsInTournament.slice(0, maxVisibleTeams); track $index) {
        <div class="team-item">
            <a [routerLink]="['team/', team.id]">{{ team.name }}</a>
        </div>
        }

        @if (teamsInTournament.length > maxVisibleTeams) {
        <button (click)="loadMoreTeams()">Show all</button>
        }
        <!-- <form [formGroup]="addTeamForm" (ngSubmit)="addTeamToTournament(addTeamForm)">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" id="team-name" formControlName="name">
                @if (addTeamForm.controls.name.hasError('required')) {
                <mat-error>Name is <strong>required</strong></mat-error>
                }
                @if (addTeamForm.controls.name.hasError('maxlength')) {
                <mat-error>Name must have max 50 characters</mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput type="text" id="team-city" formControlName="city">
                @if (addTeamForm.controls.city.hasError('required')) {
                <mat-error>City is <strong>required</strong></mat-error>
                }
                @if (addTeamForm.controls.name.hasError('maxlength')) {
                <mat-error>Name must have max 50 characters</mat-error>
                }
            </mat-form-field>
            <button type="submit">Save</button>
        </form> -->
    </div>
</div>