<div class="section-title">
    <h1>Player</h1>
</div>

<div class="section-container">
    <div class="above-items-container">
        <h2>Details</h2>
        <div>
            <button [hidden]="isNew" [hidden]="isEditing" mat-raised-button (click)="turnOnEditMode()"><mat-icon>edit</mat-icon>Edit player</button>
            <button [hidden]="isNew" [hidden]="isEditing" mat-raised-button (click)="deletePlayer()"><mat-icon>delete</mat-icon>Delete player</button>
        </div>
    </div>
    <div class="item-container one-column">
        <div class="item">
            <div class="item-title-area">
                @if (isNew) {
                <h2>Add new player</h2>
                }
                @else {
                <h2>{{ player?.name }} {{ player?.surname }}</h2>
                }
            </div>
            <div class="item-content">
                <div [hidden]="!isEditing">
                    <form [formGroup]="playerForm" (ngSubmit)="createEditPlayer(playerForm)">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" id="name" formControlName="name">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Surname</mat-label>
                            <input matInput type="text" id="surname" formControlName="surname">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" id="email" formControlName="email">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Birthdate</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="birthDate">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        @if (isNew) {
                        <button type="submit" mat-raised-button>
                            <mat-icon>add</mat-icon>Add player
                        </button>
                        } @else {
                        <button type="submit" mat-raised-button>
                            <mat-icon>edit</mat-icon>Edit player
                        </button>
                        }

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>