<div class="section-title">
    <h1>{{ player?.player?.name }} {{ player?.player?.surname }}</h1>
</div>
<div class="section-container">
    <div class="above-items-container">
        <a>Back to team</a>
        <div class="title-area-buttons">
            <button mat-raised-button>
                <mat-icon>edit</mat-icon>Edit
            </button>
            <button mat-raised-button>
                <mat-icon>delete</mat-icon>Delete
            </button>
        </div>
    </div>
    <div class="items-container one-column">
        <div class="item">
            <div class="item-title-area">
                <h2>Details</h2>
            </div>
            <div class="item-content">

            </div>
        </div>
    </div>
    <div class="items-container one-column">
        <div class="item">
            <div class="item-title-area">
                <h2>Stats</h2>
            </div>
            <div class="item-content">

            </div>
        </div>
    </div>
</div>
