form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
}

form mat-form-field {
    min-width: 45%;
}

.list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 0.7px solid lightgray;
}

.list-item:last-child {
    border-bottom: none;
}