<div class="item">
    <div class="item-title-area">
        <h3>Players</h3>
        <div class="action-buttons">
            <a mat-button><mat-icon>add</mat-icon>Add player</a>
        </div>
    </div>
    <div class="team-count">
        <div>
            <span class="team-counter">{{ this.tournamentsTeamsPlayers.length}}</span>
            <span>players in team</span>
        </div>
        <div>
            <span class="team-counter">4</span>
            <span>max players</span>
        </div>
    </div>
    <div class="item-content">
        @for(player of tournamentsTeamsPlayers; track $index) {
        <div class="list-item">
            <div class="list-item">
                <a [routerLink]="['/player/', player.id]">{{ player.name }} {{ player.surname }} ({{ player.number
                    }})</a>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        }

        <!-- <div class="list-item" [style.display]="!isAddingPlayer ? 'none' : 'flex'">
            <form [formGroup]="addPlayersForm" (ngSubmit)="addPlayersToTeam(addPlayersForm)">
                <mat-form-field appearance="outline">
                    <mat-label>Availble players</mat-label>
                    <mat-select multiple formControlName="player">
                        @for (player of availblePlayers; track $index) {
                        <mat-option [value]="player.id">{{player.name}} {{player.surname}}</mat-option>
                        }
                    </mat-select>
                    @if (addPlayersForm.controls.player.hasError('required')) {
                    <mat-error>You have to choose at least <strong>one</strong> player</mat-error>
                    }
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Number</mat-label>
                    <input matInput type="number" formControlName="playerNumber" min="0" max="99">
                    @if (addPlayersForm.controls.playerNumber.hasError('required')) {
                    <mat-error>Number is <strong>required</strong></mat-error>
                    }

                    @if (addPlayersForm.controls.playerNumber.hasError('min')) {
                    <mat-error><strong>0</strong> is minimal value</mat-error>
                    }

                    @if (addPlayersForm.controls.playerNumber.hasError('max')) {
                    <mat-error><strong>99</strong> is maximal value</mat-error>
                    }
                </mat-form-field>
                <button type="submit" mat-flat-button>
                    <mat-icon>add</mat-icon>Add player
                </button>
            </form>
        </div> -->
    </div>
</div>