<div class="title-area">
    <h1>{{ tournament?.name }}</h1>
    <button mat-fab aria-label="Example icon button with a delete icon" (click)="turnOnEditMode()">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-fab aria-label="Example icon button with a delete icon" (click)="deleteTournament()" [hidden]="isNew">
        <mat-icon>delete</mat-icon>
    </button>
</div>
<div class="items-container">
    <div class="item">
        <div class="item-title-area">
            <h2>Info</h2>
        </div>
        <div [hidden]="isEditing" class="item-content">
            <p>Name: {{ tournament?.name }}</p>
            <p>Place: {{ tournament?.place }}</p>
            <p>Start date: {{ tournament?.startDate | date: 'dd.MM.yyyy' }}</p>
            <p>End date: {{ tournament?.endDate | date: 'dd.MM.yyyy' }}</p>
        </div>
        <div [hidden]="!isEditing" class="item-content">
            <form [formGroup]="editTournamentForm" (ngSubmit)="editAddTournament(editTournamentForm)">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" id="name" formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Place</mat-label>
                    <input matInput type="text" id="place" formControlName="place">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Start date</mat-label>
                    <input matInput type="date" id="start-date" formControlName="startDate">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>End date</mat-label>
                    <input matInput type="date" id="end-date" formControlName="endDate">
                </mat-form-field>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
    <div class="item">
        <div class="item-title-area">
            <h2>Teams</h2>
            <div class="action-buttons">
                <button mat-fab aria-label="Example icon button with a delete icon">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        @for (team of teamsInTournament; track $index) {
        <p>{{ team.name }}</p>
        }
    </div>
    <div class="item">
        <div class="item-title-area">
            <h2>Groups</h2>
        </div>
    </div>
    <div class="item">
        <div class="item-title-area">
            <h2>Play-offs</h2>
        </div>
    </div>
</div>

<!-- <div>
    <ul [hidden]="!isEditing">
        <form [formGroup]="editTournamentForm" (ngSubmit)="editAddTournament(editTournamentForm)">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name">

            <label for="place">Place</label>
            <input type="text" id="place" formControlName="place">

            <label for="start-date">Place</label>
            <input type="date" id="start-date" formControlName="startDate">

            <label for="end-date">Place</label>
            <input type="date" id="end-date" formControlName="endDate">

            <button type="submit">Save</button>
        </form>
    </ul>
</div>

<div class="teams">
    <h3>Drużyny</h3>
    <ul>
        @for (team of teamsInTournament; track $index) {
        <li> {{ team.name }}</li>
        }
    </ul>
</div>

<button type="button" (click)="turnOnEditMode()">Edit</button>
<button type="button" (click)="deleteTournament()" [hidden]="isNew">Delete</button> -->