.title-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.item-content form {
    display: flex;
    flex-direction: column;
}

.item-content form input {
    margin-bottom: 10px;
}