<div class="section-title">
    <h1>{{ tournament?.name }}</h1>
</div>

<div class="section-container">
    <div class="above-items-container">
        <div class="title-area-buttons">
            <button mat-raised-button (click)="turnOnEditMode()" [hidden]="isEditing">
                <mat-icon>edit</mat-icon>Edit
            </button>
            <button mat-raised-button (click)="deleteTournament()" [hidden]="isNew" [hidden]="isEditing">
                <mat-icon>delete</mat-icon>Delete
            </button>
        </div>
    </div>

    <div class="items-container two-columns" [style.display]="isEditing ? 'none' : 'grid'">
        <div class="item">
            <div class="item-title-area">
                <h2>Info</h2>
            </div>
            <div class="item-content">
                <p>Name: {{ tournament?.name }}</p>
                <p>Place: {{ tournament?.place }}</p>
                <p>Start date: {{ tournament?.startDate | date: 'dd.MM.yyyy' }}</p>
                <p>End date: {{ tournament?.endDate | date: 'dd.MM.yyyy' }}</p>
            </div>
        </div>
        <app-tournament-team-list [tournamentId]="tournamentId"></app-tournament-team-list>
        <div class="item">
            <div class="item-title-area">
                <h2>Groups</h2>
            </div>
        </div>
        <div class="item">
            <div class="item-title-area">
                <h2>Play-offs</h2>
            </div>
        </div>
    </div>

    <div class="items-container one-column" [style.display]="!isEditing ? 'none' : 'grid'">
        <div class="item">
            <div class="item-content">
                <form [formGroup]="editTournamentForm" (ngSubmit)="editAddTournament(editTournamentForm)">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" id="name" formControlName="name">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Place</mat-label>
                        <input matInput type="text" id="place" formControlName="place">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Start date</mat-label>
                        <input matInput type="date" id="start-date" formControlName="startDate">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>End date</mat-label>
                        <input matInput type="date" id="end-date" formControlName="endDate">
                    </mat-form-field>
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>

</div>