<div class="items-container">
    <div class="item">
        <div class="item-title-area">
            <h2>Current/upcoming tournaments</h2>
        </div>
        @for (tournament of tournamentList; track $index) {
            @if (currentDate <= tournament.startDate) {
                <p>{{ tournament.name }}</p>
            }
        }
    </div>
    <div class="item">
        <div class="item-title-area">
            <h2>Past tournaments</h2>
        </div>
        @for (tournament of tournamentList; track $index) {
            @if (currentDate > tournament.startDate) {
                <p>{{ tournament.name }}</p>
            }
        }
    </div>
</div>