:root {
    --background: #e5e5e5;
    --brand: #00471b;
    --accent: #eee1c6;
    --border: #d3d3d3;

    --h1-desktop: 32px;
    --h1-tablet: 28px;
    --h1-mobile: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Poppins", serif;
    height: 100%;
}

body { 
    background-color: var(--background);
}

a {
    text-decoration: none;
    cursor: pointer;
}

.section-title {
    width: 87.5vw;
    max-height: 150px;
    height: 150px;
    border-bottom: 0.6px solid var(--border);
    padding: 0 50px;
    display: flex;
    align-items: center;
}

.section-container {
    width: 87.5vw;
    padding: 50px 200px;
}

.title-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.above-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.items-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 20px;
}
   
.one-column {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.two-columns {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.three-columns {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item {
    background-color: #ffffff;
    border-radius: 4px;
    width: 100%;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(193, 193, 193, 1);
    -moz-box-shadow: 1px 1px 4px 0px rgba(193, 193, 193, 1);
    box-shadow: 1px 1px 4px 0px rgba(193, 193, 193, 1);
    transition: max-height 0.5s ease-in-out;
}

.item-title-area {
    border-radius: 4px 4px 0 0;
    border-bottom: solid 0.8px var(--border);
    min-height: 76px;
    padding: 10px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.item-content {
    padding: 10px 20px;
    min-width: 100%;
}

@media only screen and (max-width: 768px) {

    .section-title {
        padding: 0 5px;
        justify-content: center;
        width: 100%;
    }

    .section-title h1 {
        font-size: var(--h1-mobile);
    }
    
    .section-container {
        padding: 10px 5px;
        width: 100%;
    }

    .items-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        width: 100%;
    }
}
